# Loopback device:
auto lo
iface lo inet loopback

auto br0
iface br0 inet static
  address        {{network.br0.ipv4.address}}
  netmask        {{network.br0.ipv4.netmask}}
{% if network.br0.ipv4.gateway is defined %}
  gateway        {{network.br0.ipv4.gateway}}
  pointopoint    {{network.br0.ipv4.pointopoint}}
{% endif %}
  bridge_ports   eth0
  bridge_stp     off
  bridge_fd      0
  bridge_maxwait 0

iface br0 inet6 static
  address {{network.br0.ipv6.address}}
  netmask {{network.br0.ipv6.netmask}}
  gateway {{network.br0.ipv6.gateway}}

{% if network.brnat is defined %}
# device: brnat
auto brnat
iface brnat inet static
  address        {{network.brnat.ipv4.address}}
  netmask        {{network.brnat.ipv4.netmask}}
  gateway        {{network.brnat.ipv4.gateway}}
  pointopoint    {{network.brnat.ipv4.pointopoint}}
  bridge_ports   eth1
  bridge_stp     off
  bridge_fd      0
  bridge_maxwait 0
{% endif %}
