# Loopback device:
auto lo
iface lo inet loopback

# device: eth0
auto eth0
iface eth0 inet static
  address     {{ipv4_address}}
  netmask     {{ipv4_netmask}}
  gateway     {{ipv4_gateway}}

iface eth0 inet6 static
  address {{ipv6_address}}
  netmask {{ipv6_netmask}}
  gateway {{ipv6_gateway}}

