# Loopback device:
auto lo
iface lo inet loopback

# device: eth0
auto eth0
iface eth0 inet static
  address     {{network.eth0.ipv4.address}}
  netmask     {{network.eth0.ipv4.netmask}}
  gateway     {{network.eth0.ipv4.gateway}}
  pointopoint {{network.eth0.ipv4.pointopoint}}

iface eth0 inet6 static
  address {{network.eth0.ipv6.address}}
  netmask {{network.eth0.ipv6.netmask}}
  gateway {{network.eth0.ipv6.gateway}}

# device: brnat
auto brnat
iface brnat inet static
  address        {{network.brnat.ipv4.address}}
  netmask        255.255.255.255
  bridge_stp     off
  bridge_ports   none
  bridge_fd      0
  bridge_maxwait 0
{% for additional_ip in network.brnat.ipv4.additional_ips %}
  up route add -host {{additional_ip}} dev brnat
  down route del -host {{additional_ip}} dev brnat
{% endfor %}

# device: br0
auto br0
iface br0 inet static
  address        {{network.br0.ipv4.address}}
  netmask        {{network.br0.ipv4.netmask}}
  bridge_stp     off
  bridge_ports   none
  bridge_fd      0
  bridge_maxwait 0

iface br0 inet6 static
  address {{network.br0.ipv6.address}}
  netmask {{network.br0.ipv6.netmask}}

