# Loopback device:
auto lo
iface lo inet loopback

# device: eth0
auto eth0
iface eth0 inet static
  address     {{network.ipv4.address}}
  netmask     {{network.ipv4.netmask}}
  gateway     {{network.ipv4.gateway}}
  pointopoint {{network.ipv4.gateway}}

iface eth0 inet6 static
  address {{network.ipv6.address}}
  netmask {{network.ipv6.netmask}}
  gateway {{network.ipv6.gateway}}

# device: br0
auto {{network.bridge.device}}
iface {{network.bridge.device}} inet static
  address        {{network.ipv4.address}}
  netmask        255.255.255.255
  bridge_stp     off
  bridge_ports   none
  bridge_fd      0
  bridge_maxwait 0
{% for additional_ip in network.bridge.additional_ips %}
  up route add -host {{additional_ip}} dev {{network.bridge.device}}
  down route del -host {{additional_ip}} dev {{network.bridge.device}}
{% endfor %}

iface {{network.bridge.device}} inet6 static
  address {{network.ipv6.address}}
  netmask 64

