dn: cn=config
replace: olcTLSCertificateFile
olcTLSCertificateFile: /etc/ssl/certs/{{fqdn}}.crt
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /etc/ssl/private/{{fqdn}}.key

dn: olcDatabase={1}mdb,cn=config
changetype:  modify
replace: olcSecurity
olcSecurity: tls=1

