lxc.network.type = veth
lxc.network.flags = up
lxc.network.link = br0
lxc.network.ipv6 = {{network.ipv6.address}}/{{network.ipv6.netmask}}
lxc.network.ipv6.gateway = {{network.ipv6.gateway}}
lxc.start.auto = 1

