*nat
:PREROUTING ACCEPT [0:0]
-F
{% if firewall.dnats is defined %}
{% for item in firewall.dnats %}
-A PREROUTING -p tcp -i br0 --dst {{network.ipv6.address}} --dport {{item.port}} -j DNAT --to [{{hostvars[item.to]['network.ipv6.address']}}]:{{item.port}}
{% endfor %}
{% endif %}
COMMIT


