*nat
:PREROUTING ACCEPT [0:0]
-F
{% if firewall.forwardings is defined %}
{% for item in firewall.forwardings %}
-A PREROUTING -p tcp -i br0 --dst {{ipv6_address}} --dport {{item.port}} -j DNAT --to [{{hostvars[item.to]['ipv6_address']}}]:{{item.port}}
{% endfor %}
{% endif %}
COMMIT


