{
    "system": {
        "trusted_domains": [
            "localhost"
        ],
        "overwritehost": "{{owncloud.fqdn}}",
        "overwriteprotocol": "https",
        "overwritewebroot": "/owncloud"
    }
}

