set daemon 60
set invisible
set no bouncemail
set syslog

poll {{rt.pop3_host}} protocol pop3
 username "{{rt.pop3_user}}" password "{{rt.pop3_password}}"
 mda "/usr/bin/rt-mailgate --queue General --action correspond --url http://localhost/rt/"
 ssl
;

