defaults
logfile /var/log/msmtp.log
account default
host {{rt.smtp_host}}
port {{rt.smtp_port}}
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
auth on
user {{rt.smtp_user}}
password {{rt.smtp_password}}
from {{rt.correspond_address}}
auto_from off

