
<VirtualHost *:443>
  ServerName {{fqdn}}

  #LogLevel info ssl:warn
  #LogLevel warn ldap:debug authnz_ldap:debug
  LogLevel info
  LogFormat "%a %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined-remoteip
  ErrorLog ${APACHE_LOG_DIR}/{{fqdn}}.error.log
  CustomLog ${APACHE_LOG_DIR}/{{fqdn}}.access.log combined-remoteip
  ForensicLog ${APACHE_LOG_DIR}/{{fqdn}}.forensic.log

  RemoteIPHeader X-Forwarded-For
  RemoteIPInternalProxy {{hostvars[ipv4gw]['network']['ipv6']['address']}}

  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/{{fqdn}}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{fqdn}}.key
  SSLProtocol all -SSLv2 -SSLv3
  SSlCipherSuite ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA;
  SSLHonorCipherOrder on

{% if apache.redirects is defined %}
{% for item in apache.redirects %}
  Redirect {{item.status}} {{item.path}} {{item.url}}
{% endfor %}
{% endif %}

  <Location />
    SSLRequireSSL

    AuthType Basic
    AuthName "LDAP"
    AuthBasicProvider ldap
    AuthLDAPURL "ldap://{{ldap.fqdn}}:389/{{ldap.baseDN}}?uid?sub?(objectClass=inetOrgPerson)" STARTTLS

{% if apache.noauths is defined %}
{% for item in apache.noauths %}
    Require expr %{REQUEST_URI} =~ m#{{item.path}}#
{% endfor %}
{% endif %}
    Require valid-user

{% if apache.pass_to_port is defined %}
    ProxyPass http://localhost:{{apache.pass_to_port}}/
    ProxyPassReverse http://localhost:{{apache.pass_to_port}}/
{% endif %}
  </Location>

</VirtualHost>

<VirtualHost *:80>
  ServerName {{fqdn}}

  #LogLevel info ssl:warn
  #LogLevel warn ldap:debug authnz_ldap:debug
  LogLevel info
  LogFormat "%a %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined-remoteip
  ErrorLog ${APACHE_LOG_DIR}/{{fqdn}}.error.log
  CustomLog ${APACHE_LOG_DIR}/{{fqdn}}.access.log combined-remoteip
  ForensicLog ${APACHE_LOG_DIR}/{{fqdn}}.forensic.log

  RemoteIPHeader X-Forwarded-For
  RemoteIPInternalProxy {{hostvars[ipv4gw]['network']['ipv6']['address']}}

  Redirect 302 / https://{{fqdn}}/
</VirtualHost>

