{% for guest in groups['lxc2-guests'] %}
{% set item = hostvars[guest] %}
{% if 'ipv4gw' in item and item.ipv4gw == inventory_hostname and 'apache' in item %}
server {
  listen                  443;
  server_name             {{item.fqdn}};
  server_name_in_redirect off;
  ssl                     on;
  ssl_certificate         /var/lib/lxc/{{item.inventory_hostname}}/rootfs/etc/ssl/certs/{{item.fqdn}}.crt;
  ssl_certificate_key     /var/lib/lxc/{{item.inventory_hostname}}/rootfs/etc/ssl/private/{{item.fqdn}}.key;
  access_log              /var/log/nginx/{{item.fqdn}}.access.log;
  error_log               /var/log/nginx/{{item.fqdn}}.error.log;
  location / {
    proxy_pass            https://[{{item.network.ipv6.address}}]/;
    proxy_set_header      X-Real-IP       $remote_addr;
    proxy_set_header      Host            $host;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
server {
  listen                  80;
  server_name             {{item.fqdn}};
  access_log              /var/log/nginx/{{item.fqdn}}.access.log;
  error_log               /var/log/nginx/{{item.fqdn}}.error.log;
  location /nginx_status {
    stub_status on;
    access_log   off;
    allow 127.0.0.1;
    deny all;
  }
  location / {
    proxy_pass            http://[{{item.network.ipv6.address}}]/;
    proxy_set_header      X-Real-IP       $remote_addr;
    proxy_set_header      Host            $host;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  #rewrite      ^ https://$server_name$request_uri?;
}

{% endif %}
{% endfor %}
