{
    "system": {
        "trusted_domains": [
            "localhost","172.17.0.1"
        ],
        "trusted_proxies": [
            "localhost","172.17.0.1"
        ],
        "overwritehost": "{{nextcloud.fqdn}}",
        "overwriteprotocol": "https",
        "overwritewebroot": "/"
    }
}

