{
    "system": {
        "trusted_domains": [
            "localhost"
        ],
        "trusted_proxies": [
            "localhost"
        ],
        "overwritehost": "{{nextcloud.fqdn}}",
        "overwriteprotocol": "https",
        "overwritewebroot": "/",
        "overwrite.cli.url": "https://{{nextcloud.fqdn}}",
        "htaccess.RewriteBase": "/"
    }
}

