[Unit]
Description=Frab

[Service]
User=frab
ExecStart=/bin/bash -c 'source /home/frab/.rbenvrc && cd /var/www/frab && RACK_ENV=production bundle exec rails s'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

